---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import HomePost from '@/components/BlogPosts/HomePost.svelte'

---

<Layout title="Home - PAC-10 Fantasy Football">
	<main>
		<div class="mx-4 flex flex-col gap-2">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur molestias excepturi eligendi eum quidem iusto incidunt velit eius odit, nobis, ut harum maiores ullam itaque est dicta, culpa cumque sit!</p>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere tenetur velit animi doloremque nisi, a optio sint incidunt officia, eaque ut repellendus illo soluta omnis repudiandae ullam atque dicta neque.</p>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere tenetur velit animi doloremque nisi, a optio sint incidunt officia, eaque ut repellendus illo soluta omnis repudiandae ullam atque dicta neque.</p>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere tenetur velit animi doloremque nisi, a optio sint incidunt officia, eaque ut repellendus illo soluta omnis repudiandae ullam atque dicta neque.</p>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere tenetur velit animi doloremque nisi, a optio sint incidunt officia, eaque ut repellendus illo soluta omnis repudiandae ullam atque dicta neque.</p>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere tenetur velit animi doloremque nisi, a optio sint incidunt officia, eaque ut repellendus illo soluta omnis repudiandae ullam atque dicta neque.</p>
		</div>
		<div class="w-full text-center pt-4">
			<!-- Blog Post -->
			<!-- <HomePost client:visible/> -->
		</div>
	</main>
</Layout>

