---
---

<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
  <nav class="flex flex-wrap gap-4 justify-center">
    <a class="link link-hover" href="/">Home</a>
    -
    <a class="link link-hover" href="/matchups">Matchups</a>
    -
    <a class="link link-hover" href="/transactions">Trades & Waivers</a>
    -
    <a class="link link-hover" href="/blog">Blog</a>
    -
    <a class="link link-hover" href="/rosters">Rosters</a>
    -
    <a class="link link-hover" href="/managers">Managers</a>
    -
    <a class="link link-hover" href="/rivalry">Rivalry</a>
    -
    <a class="link link-hover" href="/standings">Standings</a>
    -
    <a class="link link-hover" href="/drafts">Drafts</a>
    -
    <a class="link link-hover" href="/trophy-room">Trophy Room</a>
    -
    <a class="link link-hover" href="/records">Records</a>
  </nav>
  <aside>
    <p>Copyright © 2023 <a href="https://www.peterholmes.dev" class="link-hover">Peter Holmes</a></p>
    <p>Adapted from work by <a href="https://www.nmelhado.com" class="link-hover">Nicholas Melhado</a></p>
  </aside>
</footer>
